*{
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    padding: 10px;
}
li {
    list-style: none;
}
.left {
    width: 1000px;
    display: flex;
    flex-direction: column;
    p{
        background: rgb(88, 88, 88);
        color: rgb(255, 255, 255);
    }
    .booklist, .thebestbook {
        li {
            cursor: pointer;
            background-color: gray;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            p {
                background: none;
            }
            button {
                cursor: pointer;
                margin-left: 5px;
                border-radius: 10px;
            }
        }
    }
    .bestbook{
        display: flex;
        flex-direction: column;
        height: 100px;
    }
    .addBook {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        margin: 0 auto;
        .name {
            margin-top: 10px;
        }
        .text {
            margin-top: 10px;
            padding-bottom: 100px;
        }
        .write, .upload {
            cursor: pointer;
        }
        .writeBtn, .uploadBtn {
            width: 173px;
            margin-top: 10px;
            height: 30px;
            cursor: pointer;
        }
        .uploadTxt {
            margin-top: 10px;
        }
    }
    .innerUpload {
        display: none;
    }
}
.right {
    width: 100%;
    position: relative;
    .edit_form {
        display: none;
        position: absolute;
        top: 100px;
        left: 25%;
        .edit_form_content {
            width: 300px;
            display: flex;
            flex-direction: column;
            .edit_text {
                margin-top: 10px;
                height: 150px;
            }
            .EditBtn {
                margin-top: 10px;
                height: 25px;
            }
        }
    }      
}