* {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  padding: 10px;
}
li {
  list-style: none;
}
.left {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.left p {
  background: #585858;
  color: #ffffff;
}
.left .addBook {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
}
.left .addBook .name {
  margin-top: 10px;
}
.left .addBook .text {
  margin-top: 10px;
  padding-bottom: 100px;
}
.left .addBook .write,
.left .addBook .upload {
  cursor: pointer;
}
.left .addBook .writeBtn,
.left .addBook .uploadBtn {
  width: 173px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}
.left .addBook .uploadTxt {
  margin-top: 10px;
}
.left .innerUpload {
  display: none;
}
.right {
  width: 100%;
}
